.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox{
  background-color: var(--color-mint);
  width: 50rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}