.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBox{
  background-color: var(--color-mint);
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}