.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo_small{
  font-family: 'OKCHAN';
  font-size: 20px;
  color: var(--color-darkgreen);
}

.logo_small span{
  color: var(--color-green);
}

.tel_form{
  display: flex;
  flex-direction: column;
}

.reserve_box{
  display: flex;
  margin-top: 2rem;
}

.name_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.phone_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input{
  background: rgba(64, 167, 111, 0.2);
  margin-top: 1rem;
  width: 80%;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-family: 'GangwonEdu_OTFLightA';
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.plant_box, .notice_box{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant_input{
  background: rgba(64, 167, 111, 0.2);
  margin-top: 1rem;
  width: 90%;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-family: 'GangwonEdu_OTFLightA';
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.notice_input{
  background: rgba(64, 167, 111, 0.2);
  margin-top: 1rem;
  width: 83%;
  height: 20rem;
  border: none;
  border-radius: 1rem;
  font-family: 'GangwonEdu_OTFLightA';
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  resize: none;
}