.title {
    font-family: 'ONE-Mobile-POP';
    font-size: 2rem;
    color: var(--color-darkgreen);
    margin-top: 0;
}

.title span {
    color: var(--color-green);
}

.image_box {
    width: 578px;
    height: 353px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}